doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/styles/editor.css")
    title Blibz - Editor
    body
      div(id="container")
        input(id="title", placeholder="Title")
        div(id="buttons")
          button(id="previewedit", onclick="preview()") PREVIEW
          button SAVE
          button PUBLISH
        textarea(id="editarea", class="shown-area")
        div(id="previewarea")
      script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
      script(src="scripts/editor.js")
