doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/style.css")
    title Blibz - Changes
    body
      div(id="blog-post")
        h1 Changes
      
        p During the last 2 years my life has seen a lot of changes. Many of those changes I was spectacularly unprepared for, and many of them I am still struggling to deal with.
        p Well, pretty much all of them, and then some.. The reason for this is that all these changes stem from a single origin, a change so big and unexpected that it snowballed entirely out of control.
        p Back in 2016, I got a letter from the UK Home Office. The immegration laws pertaining to my residence permit has changed without me noticing, and as a result I will no longer be able to get british naturalisation after the permit ran out. According to this I've been overstaying my welcome for more than 6 months!
        p I was devastated! I had just found a happy spot in London, a good place to live, a decent income, and the best friends I could ever have asked for. I didn't plan on leaving any of it ever, I was at such an exciting point in my life. For once I was so certain of myself... I spoke to 2 different soliciters, but neither of them could help me and my time was running out - I certainly didn't want to get arrested!
        p I made peace once more with the fact that change always catches up with us. I booked a ticket to South Africa and spent my last 2 weeks with my friends having the time of my life! My farewell party stretched over a whole week with two weekends. We smoked and drank so much it became a ritual. We went to all the clubs and pubs we've always wanted to try out. We danced in the streets and got high as fuck! I will never ever forget riding very drunk down oxford road on a Barklay's Bike at 4AM, to see if Mcdonald's is serving breakfast yet.
        p But soon the time came - as it always does. The time to pack all my luggage on the very last day, to take my last cab to the bus station, to nearly miss the bus to the airport, and to cry in the arms of my friends outside the airport gate, as we smoked our last sneaky joint together.
        p That night I saw my dad again. I had a stopover in Dublin and he came down to see me at the airport. It was the first time he got to see me entirely out as a girl, and although it was short, we built a really special connection that night.
        p When I landed in South Africa I was excited to see my mum and my sister again. It's been nearly 6 years since I last saw them and my sister's even had a baby since then! At first everything was great, but I quickly became very sad. I couldn't deal with not being able to do my old job anymore and I missed my friends incredibly.
        p The one light in my day was camming, I started this just before I left London. Unfortunately internet in South Africa is very expensive and so I couldn't stream at a very high quality. I worked in a pub for a little while, but it didn't work out, so I decided to turn my hobby into my job and became a fulltime cam model.
        p It didn't work out great though, my stream quality was still not good enough and I couldn't afford upgrading. I stuck it out though and I had a lot of fun, I kept telling myself if I just keep trying it will surely succeed. As the months went by I made less and less money, and got more and more depresses until eventually I could no longer afford my medical treatment. I went off hormones and started looking for a job but everything kept getting worse.
        p Nobody took me seriously. Whenever I dropped of a CV I could see people trying to keep their face straight, some of them openly discussing me. The computer shop told me to try the fashion store, the fashion store told me to try the pub, the pub told me I'm 'overqualified'. When I applied for a cad modelling job recruiters didn't even believe that I had any engineering interests despite my CV.
        p Eventually I discovered that the people in this area are far more homophobic than I expected, and we all know that transgender is just the more extreme version of gay but it's still your own choice. In fact, there is not even a facebook support group, and everything around here happens on facebook!
        p In conclusion, I guess I'm back where I was years ago. I feel like I'm back to square one - no hormones, no money, no job and no friends to rely on for mental support. It wasn't easy for me to realize this, but now that I have, I can start rebuilding my life again. This time though, things are a little different - I might be living in a more hostile environment, but I also have quite a number of followers who are interested in knowing about me, some of whom I have grown rather close with.
        p I really appreciate these guys' ongoing support, so I've decided to write this blog. With it, I hope to grow closer to more of my followers and to perhaps return the favour by being an inspiration. I am determined to live the most awesome life I can imagine and to share it with the most awesome people I can find.
