doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="csrf-token", content= csrfToken)
    link(rel="stylesheet", href="/styles/style.css")
    title Blibz - Magic
    body
      div(id="blog-post")
        h1 Magic

        p I've always been very interested in magic. As a kid my parents used to buy me magic kits on every special occasion and by age ten I was putting on magic shows for the other kids at my daycare after school. I guess I liked the idea of being able to do something others don't understand, the look on their faces got me all excited, especially adults! Eventually it became boring though, magic tricks are after all just tricks and if they really want, anybody can find out how they are done. I wanted real magic, the kind of stuff that aren't fully understood by anyone. I wanted to experience my audiences' wonder for myself and frankly, most other magicians didn't impress me much.
        p I grew up in a christian family though, so this kind of magic was known to be the work of the devil and of course, strictly prohibited. But I have read the bible and I had questions...<br/>About Jesus...
        p I was told that Jesus was special because he was the son of God who gave him the power to do stuff like feed a crowd of people with some bread and a couple of fish, or walking on water. But aren't we all 'children of God'?
        div(class="quote")
          p Verily, verily, I say unto you, He that believeth on me, the works that I do shall he do also; and greater works than these shall he do; because I go unto my Father.
          em -King James Bible (John 14:12)
        p Of all the stuff about miracles I read in the bible, that was the passage that made me decide to live my life exactly like I was expected to do. I studied the bible thoroughly and by highschool I was a ringleader at our christian youth league. I was praying for people, speaking in tongues and even prophesying. I visited many different churches trying to learn as much as possible and always looking for a miracle or something amazing, and for a while I was satisfied. But I started asking the wrong kinds of questions again and for some reason God didn't seem to like the way I was starting to dress, nor the makeup on my face.
        p So like any rebelious teenager I took my soul, painted my nails black, and went looking for Satan. I've heard he gives his followers all kinds of magical abilities and that all the greatest of the great magicians got their powers from him. I started doing some research but was quickly disappointed as I found that satanists are definiately not what they are made out to be in all the christian books I ever read. Most of them didn't believe the devil or hell even existed! Eventually I got involved with a group who did actually believe in Satan as their deity. They tried showing me some of their powers but I was disappointed once again, it almost seemed like they were putting on a show for my amusement instead of doing anything miraculous. They did like my choice of clothing a lot more though and we also shared some ideals, so there were a few more encounters with this group but I was kind of trying to move on from make believe.
        p So I started studying witchcraft - wicca to be precise. It's kind of a modern take on ancient beliefs, which led to studying all kinds of ancient pagan religeons and traditions. This also lasted a couple of years and I found many amazing and interesting things! Eventually this route of study led to old hindu and jewish writings and I found myself back where I started - well not entirely.
        p At the time I used to write a lot about everything I learned, I made myself a huge book in which I wrote every night. It was during one of these sessions, while studying the Zohar, I suddenly had the great realisation that I have been studying all these amazing systems of theology and spirituality for many years and still I was not able to perform amazing magic!
        p All was not lost however, as I've encountered many amazing things on this journey. So I started taking a more scientific approach, with this I mean observing what happens and trying to repeat, test and explain what I see. Most of it boils down to psychology, which was hardly surprising since the very first lesson I ever learned in magick was all about being in control of my mind.
        p Shortly after this I moved to the UK where I almost entirely forgot about magic and spirituality, but I never forgot that magic indeed exists, and that we are all the creators of our own magic. I always saw and recognised the magic, and now that I'm back in South Africa I feel almost forced to continue my old journey, to find the magic and to use it to improve myself and to make the world a better place to live in.
        p I define magic now as 'anything or any moment that makes me say wow'.<br/>My belive is that the more I look for and recognise the magic in every day, the more magical the world becomes to me and the more positivity I radiate.
        p To this end I will start a new daily practice of finding the magic in each day and tweeting about it. Feel free to join in and together we might make the world a more positive, magical place to live in.
