doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="content", content= content)
    link(rel="stylesheet", href="/styles/style.css")
    title Blibz - Changes
    body
      div(id="container")
        div(id="blog-post")
          h1 #{title}
          div(id="contentArea")
          div(id="arrows")
            div( class="left-arrow")
            p #{title}
            div(class="right-arrow")
        
      script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
      script(src="scripts/viewPost.js")
